.features {
  display: flex;
  align-items: center;
  padding: 3rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.feature:hover {
  color: #ba81db;
  cursor: pointer;
  transition: ease 300ms;
}
