/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 16rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-image: url("/img/salty_banner.png");
  background-position: 50% 40%;
}

.title {
  font-size: 3rem;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
    background: var(--ifm-background-surface-color);
  }

  .title {
    font-size: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
